[submodule "yamcs"]
	path = yamcs
	url = ssh://git@bitbucket.windhoverlabs.com:7999/wkshp/yamcs.git
[submodule "M2"]
	path = M2
	url = ssh://git@bitbucket.windhoverlabs.com:7999/wkshp/M2.git
[submodule "yamcs-cfs"]
	path = yamcs-cfs
	url = ssh://git@bitbucket.windhoverlabs.com:7999/wkshp/yamcs-cfs.git
[submodule "fos"]
	path = fos
	url = ssh://git@bitbucket.windhoverlabs.com:7999/fos/fos.git
[submodule "sage"]
	path = sage
	url = ssh://git@bitbucket.windhoverlabs.com:7999/wkshp/sage.git
[submodule "yamcs-studio"]
	path = yamcs-studio
	url = ssh://git@bitbucket.windhoverlabs.com:7999/wkshp/yamcs-studio.git
